:root {
    --primaryColor: #0F5891;
    --secondarColor: #1A82D2;
    --gradientColor: linear-gradient(to right,  #1A82D2, #0F5891);
    --whiteColor: #FFFFFF;
    --textColor: #3D3D3D;
    --greyText: #A2A2A2;
    --bodyColor: #F2F2F2;
    --cardColor: #F5F5F5;
  }

  @font-face {
    font-family: 'Silkscreen';
    src: url('/Users/bomi/Downloads/Silkscreen/Silkscreen-Regular.ttf') format('ttf')
      
  }
  
   
  .font-text {
    font-family: 'Silkscreen';
    color: #0011a8;
    font-size: 60px;
    text-shadow: 2px 1px 1px rgb(255, 255, 255);
    text-align: center;
  }
  
  .font2{
    font-size: 16px;
    font-weight: 600;
    color: rgb(194, 21, 21);
    text-shadow: 1px 1px 1px rgb(249, 249, 249);
    padding-top: .6rem;
    cursor: default;
  }

  .header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 4rem;
    z-index: 1000;
    
  }

  .mainBar{
    position: absolute;
    // height: max-content;
    top: 13.8rem;
    background: rgb(240, 240, 240);
    z-index: 3;
    box-shadow: 3px 3px 5px #1A82D2;
    transition: .3 ease-in-out;
   
    

     .mainlist{
      flex-direction: row;
      justify-content: center;
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 0;
     
      
      // max-height: 200px; 
      // overflow-y: auto; 
  
      
    //  .mainItem{
    //   width :100% ;
    //   height: max-content;
    //  }
    

     .mainLink{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      background: transparent;
      padding: 2rem 5rem;
      color: rgb(99, 99, 99);
      margin: o;
      font-size: 14px;
      position: relative;
      z-index: 3;
     &:hover{
      background: rgb(128, 177, 222);
      color: #F5F5F5;
  }
     .icon {
      align-items: center;
      justify-content: center;
      font-size: 20px;
     }
  }
     }  
     .dropdown-menu{
      position: absolute;
      display: grid;
      justify-content: center;
      align-items: center;
      top: 85px;
      left: 0px;
      color: #535353;
      background-color: #dcdcdc;
      box-shadow: 2px 2px 4px #1A82D2;
      padding: 5px 0 0 0;
      width: 224px;
      font-size: 13px;
      z-index: 1;
      visibility: hidden;
      opacity: 0; 
       
  
      .dropdownItem {
        display: grid;
        text-align: center;
        justify-content: center;
         align-items: center;
        color: #808080;
        // max-width: 100px;
        margin: auto; 
        width: 13rem;
        border-radius: 5px;
        padding: 4px 0 4px 0;
        &:hover{
          background: rgb(128, 177, 222);
          color: #F5F5F5;
        }  
      }

    }
    .dropdown-menu.active{
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      transition: .5 ease;
    }

    // .dropdown-menu.inactive{
    //   opacity: 0;
    //   visibility: hidden;
    //   transform: translateY(-20px);
    //   transition: .5 ease;
    // }



    }
  