<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Model API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Machine Learning Model API</h1>
    <form method="POST" action="/">
        <label for="duration">Duration:</label>
        <input type="text" name="duration" required><br>

        <label for="protocol_type">Protocol Type:</label>
        <input type="text" name="protocol_type" required><br>

	<label for="service">Service:</label>
        <input type="text" name="service" required><br>

        <label for="flag">Flag:</label>
        <input type="text" name="flag" required><br>

        <label for="src_bytes">Src Bytes:</label>
        <input type="text" name="src_bytes" required><br>

        <label for="dst_bytes">Dst Bytes:</label>
        <input type="text" name="dst_bytes" required><br>

        <label for="land">Land:</label>
        <input type="text" name="land" required><br>

        <label for="wrong_fragment">Wrong Fragment:</label>
        <input type="text" name="wrong_fragment" required><br>

        <label for="urgent">Urgent:</label>
        <input type="text" name="urgent" required><br>

        <label for="hot">Hot:</label>
        <input type="text" name="hot" required><br>

        <label for="num_failed_logins">Num Failed Logins:</label>
        <input type="text" name="num_failed_logins" required><br>

        <label for="logged_in">Logged In:</label>
        <input type="text" name="logged_in" required><br>

        <label for="num_compromised">Num Compromised:</label>
        <input type="text" name="num_compromised" required><br>

        <label for="root_shell">Root Shell:</label>
        <input type="text" name="root_shell" required><br>

        <label for="su_attempted">SU Attempted:</label>
        <input type="text" name="su_attempted" required><br>

        <label for="num_root">Num Root:</label>
        <input type="text" name="num_root" required><br>

        <label for="num_file_creations">Num File Creations:</label>
        <input type="text" name="num_file_creations" required><br>

        <label for="num_shells">Num Shells:</label>
        <input type="text" name="num_shells" required><br>

        <label for="num_access_files">Num Access Files:</label>
        <input type="text" name="num_access_files" required><br>

        <label for="num_outbound_cmds">Num Outbound Cmds:</label>
        <input type="text" name="num_outbound_cmds" required><br>

        <label for="is_host_login">Is Host Login:</label>
        <input type="text" name="is_host_login" required><br>

        <label for="is_guest_login">Is Guest Login:</label>
        <input type="text" name="is_guest_login" required><br>

        <label for="count">Count:</label>
        <input type="text" name="count" required><br>

        <label for="srv_count">Srv Count:</label>
        <input type="text" name="srv_count" required><br>

        <label for="serror_rate">Serror Rate:</label>
        <input type="text" name="serror_rate" required><br>

        <label for="srv_serror_rate">Srv Serror Rate:</label>
        <input type="text" name="srv_serror_rate" required><br>

        <label for="rerror_rate">Rerror Rate:</label>
        <input type="text" name="rerror_rate" required><br>

        <label for="srv_rerror_rate">Srv Rerror Rate:</label>
        <input type="text" name="srv_rerror_rate" required><br>

        <label for="same_srv_rate">Same Srv Rate:</label>
        <input type="text" name="same_srv_rate" required><br>

        <label for="diff_srv_rate">Diff Srv Rate:</label>
        <input type="text" name="diff_srv_rate" required><br>

        <label for="srv_diff_host_rate">Srv Diff Host Rate:</label>
        <input type="text" name="srv_diff_host_rate" required><br>

        <label for="dst_host_count">Dst Host Count:</label>
        <input type="text" name="dst_host_count" required><br>

        <label for="dst_host_srv_count">Dst Host Srv Count:</label>
        <input type="text" name="dst_host_srv_count" required><br>

        <label for="dst_host_same_srv_rate">Dst Host Same Srv Rate:</label>
        <input type="text" name="dst_host_same_srv_rate" required><br>

        <label for="dst_host_diff_srv_rate">Dst Host Diff Srv Rate:</label>
        <input type="text" name="dst_host_diff_srv_rate" required><br>

        <label for="dst_host_same_src_port_rate">Dst Host Same Src Port Rate:</label>
        <input type="text" name="dst_host_same_src_port_rate" required><br>

        <label for="dst_host_srv_diff_host_rate">Dst Host Srv Diff Host Rate:</label>
        <input type="text" name="dst_host_srv_diff_host_rate" required><br>

        <label for="dst_host_serror_rate">Dst Host Serror Rate:</label>
        <input type="text" name="dst_host_serror_rate" required><br>

        <label for="dst_host_srv_serror_rate">Dst Host Srv Serror Rate:</label>
        <input type="text" name="dst_host_srv_serror_rate" required><br>

        <label for="dst_host_rerror_rate">Dst Host Rerror Rate:</label>
        <input type="text" name="dst_host_rerror_rate" required><br>

        <label for="dst_host_srv_rerror_rate">Dst Host Srv Rerror Rate:</label>
        <input type="text" name="dst_host_srv_rerror_rate" required><br>

        <!-- <label for="attack">Attack:</label>
        <input type="text" name="attack" required><br>

        <label for="level">Level:</label>
        <input type="text" name="level" required><br>



        Add other input fields for each feature -->

        <button type="submit">Predict</button>
    </form>

    {% if prediction %}
        <h2>Prediction: {{ prediction }}</h2>
    {% endif %}
</body>
</html>

